<div class="d-none d-lg-block col-lg-3">
	<ul class="nav nav-pills nav-vertical">
	  <li class="nav-item">
		<a href="../docs/index.html" class="nav-link">
		  介绍
		</a>
	  </li>
	  <li class="nav-item">
		<a href="#menu-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  基础功能
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-base">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  数组行列互换
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  对象深拷贝
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-datasource" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  数据源
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-datasource">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  CSV文件
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  串口数据
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  图像
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  视频
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-draw_graph" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  图表
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-draw_graph">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  二维图表
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  三维图表
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-math_theory" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  数学理论
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-math_theory">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  交集
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  并集
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-base_math" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  基础数学
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-base_math">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  空间
			</a>
		  </li>
		  <li class="nav-item">
			<a href="" class="nav-link">
			  变化
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-disperse_math" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  离散数学
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-disperse_math">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  ...
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-apply_math" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  应用数学
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-apply_math">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  ...
			</a>
		  </li>
		</ul>
	  </li>
	  <li class="nav-item">
		<a href="#menu-combination_apply" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
		  组合应用
		  <span class="nav-link-toggle"></span>
		</a>
		<ul class="nav nav-pills collapse" id="menu-combination_apply">
		  <li class="nav-item">
			<a href="" class="nav-link">
			  ...
			</a>
		  </li>
		</ul>
	  </li>
	</ul>
  </div>